@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Outfit" !important;
  font-weight: 400;
}
#root,
body {
  background-color: #f3f3f3;
}
.none {
  display: none !important;
}
.flex {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.ml-1 {
  margin-left: 1rem;
}
.link {
  text-decoration: none;
  margin-left: 1rem;
  color: #222;
  font-size: 1.2rem;
  font-weight: 200;
}
.menu-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}
.menu-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
//   top: 18px;
//   left: 15px;
  width: 50px;
//   height: 50px;
  border-radius: 50%;
  background: transparent;
}
nav {
  //   position: absolute;
  position: relative;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  width: 300px;
//   display: flex;
//   justify-content: flex-end;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  //   right: 0;
  width: 230px;
  background-color: #f3f3f3;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gap-1 {
  gap: 1rem !important;
}
.font-600 {
  font-weight: 600 !important;
}
.font-200 {
  font-weight: 200 !important;
}
.font-400 {
  font-weight: 400 !important;
}
.screen {
  width: 100%;
  min-height: 100vh;
}
.image-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
