.audio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.bar {
    margin: 2px;
    border-radius: 30px;
}